body {
    font-family: Arial, sans-serif;
    background-color: #f4c0c0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 60px;
    border: 1px solid #0a0909;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(245, 243, 243, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}